<main class="main">
    <div class="first">
        <input class="first__seeker" type="text">
        <button class="first__btn">Search</button>
            <div class="first__inside"> 
                <div class="favorite__title"><h3>Series favoritas:</h3></div>
                <div class="first__favorite--content">
                    <img class="first__favorite--img" src="https://media.istockphoto.com/vectors/  welcom-header-colored-balloons-confetti-explosion-vector-id1160941940" alt="">
                </div>
            </div>
    </div>
    <div class="second">
        <div class="second__header hidden">Otras Opciones:</div>
        <div class="second__container"></div> 
    </div>
  </main>
  